<script>
  fetchCartItems();
       function updateCartCount() {
                     // fetchCartItems();

        fetch('/cart.js')
            .then(response => response.json())
            .then(cart => {
                document.querySelector('#cart-count').textContent = cart.item_count; // Update the cart count display
            });
      }
        function renderCartItems(updatedCart) {
            const cartItemsContainer = document.getElementById('ajax-cart-sidebar');
          console.log("RENDERING CART")
          console.log(updatedCart.items)
          let itemHtml = ``;
          cartItemsContainer.innerHTML = ''

           //h cartItemsContainer.innerHTML = ''; // Clear existing items

            // Loop through each item in the cart
//(1 ..cart.item_count)
          for (let i = 0; i < updatedCart.items.length; i++){
            let subtotalDollars = String(updatedCart.items[i].final_line_price).slice(0,-2)
            let subtotalCents = String(updatedCart.items[i].final_line_price).slice(String(updatedCart.items[i].final_line_price).length-3,String(updatedCart.items[i].final_line_price).length-1)
            console.log("in for loop")
                         itemHtml =  `
              <div class="row mb-1">
            <div class="col-md-1 cart-image">
            <img style="width:100%;" src="${updatedCart.items[i].image}">
            </div>
            <div class="col-md-5 product-title-table inconsolata-expanded">
              <p class="">${ updatedCart.items[i].quantity }x ${ updatedCart.items[i].title }</p>
              <p id="price" class="">${updatedCart.items[i].presentment_price}</p>

              <label>Quantity:</label>
              <input
                style="width:5rem;"
                type="number"
                name="updates[]"
                value="${ updatedCart.items[i].quantity }"
                id="quantity"
                onchange="updateQuantity();"
              >
              <p class="inconsolata-expanded">
                Subtotal <span id="subtotal">${subtotal}</span>
              </p>
              <a onclick="removeItemFromCart(${updatedCart.items[i].id})">Remove</a>
            </div>
            <hr>
          </div>`
                cartItemsContainer.innerHTML += itemHtml;

          }


          
            //cart.items.forEach(item => {

            
            //});
        }
          function fetchCartItems() {
            fetch('/cart.js',{
             method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
  }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                  //console.log(response.json())
                                     // renderCartItems(cart);
                    return response.json();
                })
                .then(cart => {
                  //console.log(response.json())
                  console.log("init cart" + cart)
                    renderCartItems(cart);
                });
        }
  function removeItemFromCart(id){

    const data = {
      updates:{
        [id]: 0
      }
    };
    fetch('/cart/update.js',{
      method: 'POST',
  headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
  },
      body: JSON.stringify(data)
    }).then(cart => {
      console.log("Item removed successfully",cart);
                      fetchCartItems();
      updateCartCount();

    })
      .catch(error =>{
      console.error('There was a problem with the fetch operation', error)
    })

  }
</script>
