<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Product successfully added to Cart</h5>

      </div>
      <div class="modal-body">
          <h5>Subscribe to our newsletter</h5>
          <p>Save 15% off your order when you sign up.</p>
          <div class="d-flex w-100 gap-2 m-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>


  <form action="{{ routes.cart_url }}" method="post">
    <input
      class="ATCBtn bg-dark border-0 inconsolata-expanded"
      type="submit"
      name="checkout"
      value="Checkout Now"
    >
  </form>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
