{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<div class="container">
  <div class="collection-products">
    {% paginate collection.products by 20 %}
      <div class="row">
        {% for product in collection.products %}
          <div class="col col-sm-6 product-listing">
            <div class="collection-product">
              {% if product.featured_image %}
                {% render 'image',
                  class: 'collection-product__image',
                  image: product.featured_image,
                  url: product.url,
                  width: 400,
                  height: 400,
                  crop: 'center'
                %}
              {% endif %}
              <div class="collection-product__content inconsolata-expanded">
                <p class="black-text">{{ product.title | escape | link_to: product.url }}</p>
                <p>{{ product.price | money }}</p>
              </div>
            </div>
          </div>
        {% endfor %}

        {{ paginate | default_pagination }}
      </div>
    {% endpaginate %}
  </div>
</div>
{% stylesheet %}
  .product-listing{
  border: 1px solid black;

  }
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
