<div class="submenu bg-dark">
  {% for collection in collections %}
    <div class="row align-items-center inconsolata-expanded justify-content-center">
      <div class="carousel-img-1 col-sm row align-items-center mx-2 p-0 my-1">
        <div class="carousel-animation text-center">
          <a href="/collections/drinkware" class="row text-white h-100">
            <div class="col-md-12 align-self-center py-2">
              <h1 class="mld">{{ collection.title }}</h1>
              <hr>
              <p class=" w-100 text-center">{{ collection.description }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "collection-list",
  "settings": []
}
{% endschema %}
