<div id="submenu" class="submenu p-3">
  <a onclick="closeMenu()" class="close-button"><h2>X</h2></a>
  <div class="row justify-content-center">
    {% for collection in collections %}
      <div class="col inconsolata-expanded collection-display">
        <div
          class="lz-bg collection-display-img col-sm row align-items-center mx-2 p-0 my-1"
		data-bgimage="{{ collection.image | img_url: 'large' }}"
        >
          <div class="carousel-animation text-center">
            <a href="{{ collection.url }}" class="row text-white h-100">
              <div class="col-md-12 align-self-center py-2">
                <h1 class="mld">{{ collection.title }}</h1>
              </div>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script>
  function closeMenu(){
             const submenu = document.getElementById('submenu');
       const collectionsHeader = document.getElementById('collections-menu');
           submenu.classList.toggle('active'); // Toggle the 'active' class
    collectionsHeader.classList.toggle('active'); // Toggle the 'active' class

  }
</script>
{% stylesheet %}
  .close-button{
    color:white !important;
    float:right;
    position:sticky;
    top: 0;
  }
{% endstylesheet %}
{% schema %}
{
  "name": "collection-list",
  "settings": []
}
{% endschema %}
