<div>
  <table>
    <tbody>
      <tr>
        {% for collection in collections %}
          <td>
            <a href="{{ collection.url }}">{{ collection.title }}</a>
            {% if collection.description %}
              <p>{{ collection.description | truncatewords: 20 }}</p>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% schema %}
{
  "name": "collection-list",
  "settings": []
}
{% endschema %}
