<div id="submenu" class="submenu p-3">
  <a>X</a>
  <div class="row justify-content-center">
    {% for collection in collections %}
      <div class="col inconsolata-expanded collection-display">
        <div
          class="collection-display-img col-sm row align-items-center mx-2 p-0 my-1"
          style="background-image: url('{{ collection.image | img_url: 'large' }}')"
        >
          <div class="carousel-animation text-center">
            <a href="{{ collection.url }}" class="row text-white h-100">
              <div class="col-md-12 align-self-center py-2">
                <h1 class="mld">{{ collection.title }}</h1>
              </div>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "collection-list",
  "settings": []
}
{% endschema %}
