<div class="overlay"></div>
<div class="overlay-title position-absolute top-50 start-50 translate-middle">
  <h1 class="mld">The Essence of Elegance</h1>
  <hr>
  <h2 class="pinyon-script-regular">Jasper Hawks</h2>
</div>
<div class="cover-container" style=""></div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
