<header class="full-width">
  <div class="navbar bg-dark">
    <div class="container-fluid">
      <button
        id="menu-toggle"
        class="navbar-toggler navbar-dark text-light"
        type="button"
        data-toggle="collapse"
        data-target="#menu-sidebar"
        aria-controls="menu-sidebar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand pinyon-script-regular text-light mx-auto" style="font-size:25px;" href="/index"
        >J. Hawks</a
      >
      <div class="header__menu">
        {% for link in section.settings.menu.links %}
          {{ link.title | link_to: link.url }}
        {% endfor %}
      </div>
      <div class="header__icons">
        {% if shop.customer_accounts_enabled %}
          {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
        {% endif %}

        <button
          id="cart-toggle"
          class="navbar-toggler navbar-dark text-light"
          data-toggle="collapse"
          data-toggle="collapse"
          data-target="#menu-sidebar"
          aria-controls="menu-sidebar"
          aria-expanded="false"
        >
          <span id="cart-count">{{ cart.item_count }}</span>

          <div style="text-align: center;">
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <circle cx="100" cy="100" r="80" fill="transparent">
                <animate
                  attributeName="fill"
                  from="transparent"
                  to="red"
                  dur="2s"
                  begin="0s"
                  fill="freeze" />
              </circle>
            </svg>
          </div>
          {% comment %}
            {{ 'icon-cart.svg' | inline_asset_content }}
          {% endcomment %}
        </button>
      </div>
    </div>
  </div>
</header>
{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
