<div class="page-content">
  <h1 class="mld text-center">Luxury Artisinal Crafts Delivered to You</h1>
  <p class=" px-4 text-center inconsolata-expanded">
    We hand pick only the finest crafts from various artisans across the world providing you with a catalog of hand-made
    products to choose from.
  </p>
  <hr>
  <div class="container inconsolata-expanded px-4 py-2">
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="pinyon-script-regular text-body-emphasis">
          Our Mission: <br>
          Connecting Customers With Artisans
        </h2>
        <p class="text-body-secondary">
          In a world where low quality items dominate the market we focus on bringing high quality products to your
          doorstep. Learn more about our mission:
        </p>
        <a href="#" class="btn btn-primary btn-lg">Our Mission</a>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            ></div>
            <h4 class="fw-semibold mb-0 text-body-emphasis pinyon-script-regular">Hand Picked</h4>
            <p class="text-body-secondary">Each of our products meet our rigorous standards for quality.</p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            ></div>
            <h4 class="fw-semibold mb-0 text-body-emphasis pinyon-script-regular">Hand Made</h4>
            <p class="text-body-secondary">We focus on artisans that have a direct connection to their crafts.</p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            ></div>
            <h4 class="fw-semibold mb-0 text-body-emphasis pinyon-script-regular">Hand Packaged</h4>
            <p class="text-body-secondary">Each of our products is hand packaged in our signature luxury packaging.</p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            ></div>
            <h4 class="fw-semibold mb-0 text-body-emphasis pinyon-script-regular">Hand Down</h4>
            <p class="text-body-secondary">
              We guarantee that our products will last long enough to pass down to your loved ones.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="50-vh container text-white my-5 ">
    <div class="row align-items-center inconsolata-expanded justify-content-center">
      <div class="carousel-img-1 col-sm row align-items-center mx-2 p-0 my-1">
        <div class="carousel-animation text-center">
          <a href="/collections/drinkware" class="row text-white h-100">
            <div class="col-md-12 align-self-center py-2">
              <h1 class="mld">Drinkware</h1>
              <hr>
              <p class=" w-100 text-center">Make your night unforgettable.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-img-2 col-sm row align-items-center mx-2 p-0 my-1">
        <div class="carousel-animation text-center">
          <a href="" class="row h-100 text-white">
            <div class="col-md-12 align-self-center py-2">
              <h1 class="mld">Stationery</h1>
              <hr>
              <p>Leave an impression.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-img-3 col-sm row align-items-center mx-2 p-0 my-1">
        <div class="carousel-animation text-center">
          <a class="row h-100 text-white" href="">
            <div class="col-md-12 align-self-center py-2">
              <h1 class="mld ">Accessories</h1>
              <hr>
              <p>Timeless pieces that stand out.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm carousel-img-4 row align-items-center mx-2 p-0 my-1">
        <div class="carousel-animation">
          <a class="row h-100 text-white" href="collections">
            <div class="col-md-12 align-self-center">
              <h1 class=" mld w-100 text-center">Shop All</h1>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark highlight">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <img class="w-100 cover" src="{{ 'IMG_8674.jpg' | asset_url }}">
        </div>
        <div class="col  text-white">
          <h1 class="display-5 mld">Meet Our Founder, Jasper Hawks</h1>
          <p class="inconsolata-expanded">
            Jasper saw a problem. In a world of fast fashion, cheap products, and low grade factory made items both the
            artisian and the customer are hurt. He vowed to change that.
            <br>
            <br>
            Bridiging the gap between the two he vowed to create a place where those with great taste can purchase
            products of the utmost quality accompanied with exquisite customer service.
            <br>
            <br>
            J. Hawks is just that. A commitment to excelence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
