<div class="overlay-title position-absolute top-30 start-50 translate-middle">
  <h1 class="mld">{{ collection.title }}</h1>
</div>
<div class="mini-cover" style=""></div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
