<div class="mini-cover" style=""></div>
<div class="mini-cover-title position-absolute start-50 translate-middle">
  <h1 class="mld">{{ collection.title }}</h1>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
