<div class="mini-cover" style="">
  <div class="mini-cover-title start-50 translate-middle">
    <h1 class="mld">{{ collection.title }}</h1>
  </div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
