<div class="mini-cover" style="">
  <div class="mini-cover-overlay"></div>
  <div class="mini-cover-title start-50 translate-middle">
    <h1 class="mld">{{ page | json }}</h1>
  </div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": [
            {
            "type": "text",
            "id": "page_title",
            "label": "Page Title"
        }
  ]
}
{% endschema %}
