/*
 * Image optimization through a CDN?
 *
 */


.cover{
 /*   -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);*/
    z-index: 0;

}

/*

#804E27
#BF7D3A
#F7CA79
#383838
#F4E1D2

*/

  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
svg{

filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(7%) hue-rotate(127deg) brightness(102%) contrast(101%);
}

.navbar{
  z-index: 5;
  width:100%;
  height:100%;
}
.overlay{

    background-color: black;
    opacity: .5;
    height: 100vh;
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.mld {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.inconsolata-expanded {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 125;
}

.overlay-title{
    color: white;
    z-index:1;

}
.cover-container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -6;
  position: absolute;
  top: 0;
  background-image: url(../assets/IMG_8635.jpg);

 /*   -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);*/
    z-index: 0;

}
.page-content{

    position: relative;
    top: 100vh;
}
body{
    background-color: #f2f2f2
    overflow-x:hidden;

}
.btn-primary{

    background-color: #383838;
}
.highlight{

}
.midpage{
	height: 100vh;

}

.carousel-animation{
	background-color: rgba(0,0,0,0.8);
	transition: 0.5s;
	height:50%;
  text-decoration:none;
}
.carousel-animation:hover{
	height:100%;
	background-color: rgba(0,0,0,1);
	animation-name: height-expand;
	animation-duration:0.5s;
}


@keyframes height-expand{
	from{
		height:50%;
		background-color: rgba(0,0,0,0.8);
	}
	to{
		height: 100%;
		background-color: rgba(0,0,0,1);
	}

}


.carousel-img-1{
	background-image: url(../assets/IMG_8762.jpg);
	width: 300px;
	height: 300px;
	 background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	  margin:0;
	  padding: 0;

}
.carousel-img-2{
	background-image: url(https://cdn.pixabay.com/photo/2016/06/17/16/04/fountain-pen-1463463_960_720.jpg);
	width: 300px;
	height: 300px;
	 background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	  margin:0;
	  padding: 0;

}
.carousel-img-3{
	background-image: url(../assets/cufflinks-925004.jpg);
	width: 300px;
	height: 300px;
	 background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	  margin:0;
	  padding: 0;

}
.carousel-img-4{
	background-image: url(../assets/IMG_8762.jpg);
	width: 300px;
	height: 300px;
	 background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	  margin:0;
	  padding: 0;

}
btn{
	border:none;
}
.moreBtn{

	width: 30px;
	height: 30px;
}
.text-white{
  	color:white !important;
}
a{
	text-decoration: none !important;

}
  .black-text{
    color:black !important;
  }
.mini-cover{

     height: 5rem;
    width: 100vw;
    overflow-x: hidden;
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -6;
  position: relative;
  top: 0;
  background-image: url(../assets/IMG_8635.jpg);

 /*   -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);*/
    z-index: 0;

}
.mini-cover-title{
    color: white;
    z-index:1;
position:relative;
  top:100%;
}