{% layout none %}
<div class="col">
  <div class="collection-products" id="filtered-results">
    {% paginate collection.products by 20 %}
      <div class="row">
        {% for product in collection.products %}
          <div class="col-sm-4 product-listing hover-underline">
            <div class="collection-product">
              {% if product.featured_image %}
                {% render 'image',
                  class: 'collection-product__image',
                  image: product.featured_image,
                  url: product.url,
                  width: 400,
                  height: 400,
                  crop: 'center'
                %}
              {% endif %}
              <div class="collection-product__content inconsolata-expanded">
                <!-- TEST COMMENT -->
                <p class="black-text product-title">{{ product.title | escape | link_to: product.url }}</p>
                <p style="text-decoration:none;margin-bottom:0;">{{ product.price | money }}</p>
              </div>
              <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                <button type="submit" class="ATCBtn bg-dark inconsolata-expanded">Add to Cart</button>
              </form>
            </div>
          </div>
        {% endfor %}

        {{ paginate | default_pagination }}
      </div>
    {% endpaginate %}
  </div>
</div>
